Options +FollowSymLinks -Indexes
DirectoryIndex index.html index.php app.php

<IfModule mod_rewrite.c>

    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !favicon.ico$
    #RewriteCond %{REQUEST_FILENAME} !"\.(css|js|jpg|gif|png)$"

    RewriteRule ^(.*)$ web.php [QSA,L]

</IfModule>